<h2>Регистрация</h2>
<div class="col">
    <p><b>Имя:</b><br>
        <input class="firstName" type="text" size="20"[(ngModel)]="name"
        maxlength="20" minlength="1"/>
    </p>
    <p><b>Фамилия:</b><br>
        <input class="lastName"  type="text" size="20"[(ngModel)]="surname"  
        maxlength="20" minlength="1"/>
    </p>
    <p><b>Отчество:</b><br>
        <input class="thirdName" type="text" size="20"  maxlength="20">
    </p>
    <p><b>Почта:</b><br>
        <input class="mail" type="email"  size="20" placeholder="Example@mail.ru" [(ngModel)]="mail" maxlength="300">
    </p>
    <p class="size"><b>Пароль:</b><br>
        <input class="password1" name="password" type="password"
        placeholder="Минимум 10 символв" [(ngModel)]="password" minlength="10" maxlength="300">
    <p><b>Подтверждение пароля:</b><br>
        <input class="password2" name="password" type="password"[(ngModel)]="password1" minlength="10" maxlength="300">
        <div *ngIf="incorrectPassword" style="background-color:red; color: white;">Пароли не совпадают</div>
        <p><b>Дата рождения:</b><br>
        <input class="dateTime" type='date' min='1900-01-01' max='2015-01-01'>
    </p>
    <p><b>Пол:</b><br>
        <select class="gender" name="demo" id="#">
            <option selected="selected" value="one">Мужской</option>
            <option value="two">Женский</option>
            </select>
    </p>
    
    <button (click)="register()" >Зарегестрироваться</button>


</div>